.swiper-slide {
    transition: transform 0.3s ease;
  }
  
  .scale-slide {
    transform: scale(1.2);
  }
  
  .swiper-button-next, .swiper-button-prev {
    color: #fff; /* Cambia el color de las flechas a blanco */
  }