
.heading-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: mover .8s ease-in both;
    animation: trasladar linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px; 
    
    
}
.animation-out {
  animation: opacity 2s ease-in both;
  animation: trasladar linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 400px;
}

@keyframes trasladar {
    to{

      opacity: 0;
    }
}


@keyframes opacity {
  0% {
    opacity: 0%;
  }
}



@keyframes mover {
  0% {
    opacity: 0%;
    transform: translateX(-300px);
  }
}
